<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYqW7QkLw9onshqdiwjpS74IqsnEvQAIY</string>
	<key>GCM_SENDER_ID</key>
	<string>190949857513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazuki.meechat</string>
	<key>PROJECT_ID</key>
	<string>meechat-95342</string>
	<key>STORAGE_BUCKET</key>
	<string>meechat-95342.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190949857513:ios:41d47e10c44c89a3947878</string>
</dict>
</plist>